/.idea/.idea.SPA-stocks.dir/.idea/.gitignore
/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
/obj/Debug/net7.0/apphost.exe
/bin/Debug/net7.0/appsettings.Development.json
/bin/Debug/net7.0/appsettings.json
/.idea/.idea.SPA-stocks.dir/.idea/encodings.xml
/obj/Debug/net7.0/scopedcss/Shared/MainLayout.razor.rz.scp.css
/obj/Debug/net7.0/staticwebassets/msbuild.build.SPA-stocks.props
/obj/Debug/net7.0/staticwebassets/msbuild.buildMultiTargeting.SPA-stocks.props
/obj/Debug/net7.0/staticwebassets/msbuild.buildTransitive.SPA-stocks.props
/obj/Debug/net7.0/staticwebassets/msbuild.SPA-stocks.Microsoft.AspNetCore.StaticWebAssets.props
/obj/Debug/net7.0/scopedcss/Shared/NavMenu.razor.rz.scp.css
/obj/project.assets.json
/obj/project.nuget.cache
/obj/project.packagespec.json
/obj/rider.project.restore.info
/obj/Debug/net7.0/SPA-stocks.AssemblyInfoInputs.cache
/obj/Debug/net7.0/SPA-stocks.assets.cache
/obj/Debug/net7.0/scopedcss/projectbundle/SPA-stocks.bundle.scp.css
/obj/Debug/net7.0/SPA-stocks.csproj.AssemblyReference.cache
/obj/Debug/net7.0/SPA-stocks.csproj.CoreCompileInputs.cache
/obj/Debug/net7.0/SPA-stocks.csproj.FileListAbsolute.txt
/obj/SPA-stocks.csproj.nuget.dgspec.json
/obj/SPA-stocks.csproj.nuget.g.props
/obj/SPA-stocks.csproj.nuget.g.targets
/bin/Debug/net7.0/SPA-stocks.deps.json
/bin/Debug/net7.0/SPA-stocks.dll
/obj/Debug/net7.0/ref/SPA-stocks.dll
/obj/Debug/net7.0/refint/SPA-stocks.dll
/obj/Debug/net7.0/SPA-stocks.dll
/bin/Debug/net7.0/SPA-stocks.exe
/obj/Debug/net7.0/SPA-stocks.genruntimeconfig.cache
/obj/Debug/net7.0/SPA-stocks.MvcApplicationPartsAssemblyInfo.cache
/bin/Debug/net7.0/SPA-stocks.pdb
/obj/Debug/net7.0/SPA-stocks.pdb
/obj/Debug/net7.0/SPA-stocks.RazorAssemblyInfo.cache
/bin/Debug/net7.0/SPA-stocks.runtimeconfig.json
/bin/Debug/net7.0/SPA-stocks.staticwebassets.runtime.json
/obj/Debug/net7.0/scopedcss/bundle/SPA-stocks.styles.css
/obj/Debug/net7.0/staticwebassets.build.json
/obj/Debug/net7.0/staticwebassets.development.json
/obj/Debug/net7.0/staticwebassets.pack.json
